.grid-container {
    /*margin-left: 180px;*/
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.formulaire {
    width: 70%;
    background-color:burlywood;
    padding: 10px;
}

td:last-child{
    color: red;
    /*background-color:chartreuse;*/
}

li.barre{
    text-decoration: line-through;
}

td.today {
    text-decoration: overline;
    font-weight: bold;
}

.bgimge {
    background-image: url("imgs/summer.jpg");
}

.bgimga {
    background-image: url("imgs/autumn.jpg");
}
.bgimgh {
    background-image: url("imgs/winter.jpg");
}
.bgimgp {
    background-image: url("imgs/spring.jpg");
}

table {
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

img {
    opacity:50%;
}
